*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: black;

    --accent-hue: 0;
    --accent-sat: 79%;
    --accent-light: 27%;        
}


body {
    overflow-x: hidden;            
    color: var(--text-color);
    font-family: "Arial";
    @apply text-base bg-gray-200;
    --accent-color: hsl(var(--accent-hue), var(--accent-sat), var(--accent-light));

    @apply min-h-screen bg-opacity-20;
    background: url(/img/decks-flipped.jpg);
    background-repeat: no-repeat;
    background-size: cover;        
    background-attachment: fixed;
    
}

.container {
    max-width: 100%;
}


a {
    @apply no-underline;
    color: var(--text-color);
}

p {
    @apply pb-2 mb-4;
}

.main-heading {
    @apply text-2xl mb-10 uppercase;

    &::before {
        content: '//: '; 
        @apply text-2xl;
    }   
}

main {
    @apply p-4;
}

.main {
    @apply col-span-1 min-h-screen;
    @apply lg:col-span-9;
    background-color: white;
}


.content-block .content ul {    
    list-style: disc !important; 
    list-style-position: outside;
    @apply ml-4;
}

.content-block .content ul li {                
        
} 






pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
  }
  
  pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
  }
  
  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
  }
  
  .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
  }







.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}